*{
	font-style: normal;
	margin: 0;
	padding: 0;
	font-family: "微软雅黑" "宋体" "苹方";
}
a{
	text-decoration: none;
	color: #000000;
}
ul li{
	list-style: none;
	
}
h1 h2 h3 h4 h5 h6{
	text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 835252 */
  src: url('//at.alicdn.com/t/font_835252_zt4g0p9yc9s.eot');
  src: url('//at.alicdn.com/t/font_835252_zt4g0p9yc9s.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_835252_zt4g0p9yc9s.woff') format('woff'),
  url('//at.alicdn.com/t/font_835252_zt4g0p9yc9s.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_835252_zt4g0p9yc9s.svg#iconfont') format('svg');
}
.iconfont{
	font-family:iconfont ;
}
